/*the background*/
body {
  margin: 0 auto;
  background-color: #CDCDCD;
  text-align: left;
}

/*the title*/
h1 {
}

/*the output*/
#output {
  font-size: 150%;
}

#details {
  font-size: 80%;
  font-style: italic;
}

/*text box*/
#content {
	width: 100%;
	margin: 30px;
}


